<div class="py-3 bg__info">
  <div class="container px-4 px-lg-5 text-white">
  
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <div class="col-12 title__section">
              <p>TÌM KIẾM NHIỀU NHẤT</p>
            </div>
            <div class="col-12">
              <ul>
                <li>Cây giống bơ reed</li>
                <li>Cây giống hoa lan</li>
                <li>Cây giống xương rồng</li>
                <li>Cây giống vải không hạt</li>
                <li>Cây giống lan cảnh</li>
              </ul>
            </div>
          </div>
          <div class="col-4">
            <div class="col-12 title__section">
              <p>CHÍNH SÁCH HỖ TRỢ</p>
            </div>
            <div class="col-12">
              <ul>
                <li>Chính sách và quy định chung</li>
                <li>Chính sách giao hàng</li>
                <li>Chính sách đổi trả hàng</li>
                <li>Chính sách bảo mật</li>
                <li>Chính sách bảo hành</li>
              </ul>
            </div>
          </div>
          <div class="col-4">
            <div class="col-12 title__section">
              <p>VỀ CHÚNG TÔI</p>
            </div>
            <div class="col-12">
              <ul>
                <li>Giới thiệu chung</li>
                <li>Tầm nhìn sứ mệnh</li>
                <li>Giải đáp</li>
                <li>Liên hệ</li>
              </ul>
            </div>
          </div>
        
        </div>

      </div>
    

  </div>
</div>