<div class="container px-4 px-lg-5 bg__content">
  <div class="py-3">
    <div class="col-12">
      <div class="row">
        <div class="col-8">
          <div class="col-12">

            <section class="mb-4 px-2">


              <h2 class="h1-responsive font-weight-bold text-center my-4">Phản hồi ý kiến</h2>

              <div class="row">

                <div class="col-md-11 mb-md-0 mb-5 mt-3">
                  <form id="contact-form" name="contact-form">


                    <div class="row">

                      <div class="col-md-6">
                        <div class="md-form mb-0">
                          <input type="text" id="name" name="name" class="form-control">
                          <label for="name" class="">Your name</label>
                        </div>
                      </div>



                      <div class="col-md-6">
                        <div class="md-form mb-0">
                          <input type="text" id="email" name="email" class="form-control">
                          <label for="email" class="">Your email</label>
                        </div>
                      </div>


                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="md-form mb-0">
                          <input type="text" id="subject" name="subject" class="form-control">
                          <label for="subject" class="">Subject</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">


                      <div class="col-md-12">

                        <div class="md-form">
                          <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control md-textarea"></textarea>
                          <label for="message">Your message</label>
                        </div>

                      </div>
                    </div>


                  </form>

                  <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                  </div>
                  <div class="status"></div>
                </div>


              </div>

            </section>

          </div>
          <div class="col-12">
            <h3>Liên hệ</h3>
            <p><fa-icon [icon]="faLocation" class="nav__icon"></fa-icon> 175 P. Tây Sơn, Trung Liệt, Đống Đa, Hà Nội 116705, Việt Nam</p>
            <p><fa-icon [icon]="faPhone" class="nav__icon"></fa-icon> 012 3456 789</p>
            <p><fa-icon [icon]="faMail" class="nav__icon"></fa-icon> shopcay@gmail.com</p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6329236031293!2d105.82254171486134!3d21.00734658601006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac8109765ba5%3A0xd84740ece05680ee!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaOG7p3kgbOG7o2k!5e0!3m2!1svi!2s!4v1659864842663!5m2!1svi!2s"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>
        <div class="col-3 answer__contact">
          <h5 class="mt-5 my-4">Những vấn đề thường gặp</h5>
          <ul>
            <li><a href="https://sgl.com.vn/cay-nen-trong-trong-nha/" target="_blank">Các loại cây nên được trồng trong nhà</a></li>
            <li><a href="https://thienlyfarm.com/cac-loai-sau-bo-hai-cay-trong/" target="_blank">Các loại sâu bọ gây bệnh cho cây?</a></li>
            <li><a href="https://quangcanhxanh.vn/11-benh-hai-cay-trong-thuong-gap-va-cach-phong-chong/" target="_blank">Cách phòng chống bệnh cho cây trồng?</a></li>
            <li><a href="https://www.fao.org.vn/tin-tuc/cay-an-qua-de-trong-nhat/" target="_blank">Các loại giống cây dễ trồng?</a></li>
            <li><a href="https://www.fao.org.vn/phan-bon/cac-loai-phan-bon/" target="_blank">Loại phân bón tốt cho cây?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
