.bg__content{
    background-color: #fff;
    width: 82%;
    border-radius: 5px;
    padding-top: 3%;
    margin-bottom: 5%;
}

.bg__title{
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    background: #14700c;
}
.nav__icon{
    margin-left: 1%;
}